[Unit]
Description=Tomcat
After=network.target

[Service]
Type=forking

Environment=CATALINA_PID=/tmp/tomcat.pid
Environment=JAVA_HOME=/usr/lib/jvm/java-8-oracle/
Environment=CATALINA_HOME=/opt/tomcat
Environment=CATALINA_BASE=/opt/tomcat
Environment='CATALINA_OPTS=-Xms9600m -Xms6000m -server'
Environment='JAVA_OPTS=-Xmx10000m -Xms8000m -XX:MaxPermSize=10000m -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:ParallelGCThreads=12 -DGEOSERVER_DATA_DIR=/home/camp/gs_data -DGEOWEBCACHE_CACHE_DIR=/home/camp/gs_data/gwc -Djava.library.path=/usr/local/lib/ -DGEOMETRY_COLLECT_MAX_COORDINATES=50000 -Djavax.servlet.request.encoding=UTF-8 -Djavax.servlet.response.encoding=UTF-8 -Dfile.encoding=UTF-8 -Duser.timezone=GMT -Dorg.geotools.shapefile.shapefile.datetime=true -Dgeofence.dir=/home/camp/gs_data/geofence -Djava.security.egd=file:/dev/./urandom'
#Environment=GDAL_DATA=/opt/gdal-data

ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

User=camp
Group=camp

[Install]
WantedBy=multi-user.target

